@import "~jsoneditor/dist/jsoneditor.min.css";

// json editor customization
.jsoneditor {
  border: unset;
}

.json-editor-container{
  width: 100%;
  height: 100%;
}

.warning-triangle > .jsoneditor-icon {
  background-position: -168px -48px; /* warning triangle */
}
