.jsonConfigItem {
    padding: 10px 15px;
}
.jsonConfigItem:hover {
    background-color: white;
    color: #4891db;
    cursor: pointer;
}
.jsonConfigItem:active {
    background-color: #84b7eb;
    color: white;
}

.selected {
    background-color: #26a4e8;
    color: white;
}
.selected:hover {
    background-color: #26a4e8;
    color: white;
}
