.twinItem {
    padding: 10px 15px;
    font-weight: bold;
}
.twinItem:hover {
    background-color: white;
    color: #4891db;
    cursor: pointer;
}
.twinItem:active {
    background-color: #84b7eb;
    color: blue;
}

.selected {
    background-color: #26a4e8;
    color: white;
}
