.jsonConfigItem {
    padding: 10px 15px;
}
.jsonConfigItem:hover {
    cursor: pointer;
    background-color: #3883faa6;
    color: white;
}
.jsonConfigItem:active {
    background-color: #84b7eb;
    color: white;
}

.selected {
    background-color: #3883fa;
    color: white;
}
.selected:hover {
    background-color: #3883faa6;
    color: white;
}
