.configurator {
    display: grid;
    grid-template-columns: 280px auto;
    grid-template-rows: 100%;
    grid-template-areas:"side-nav-panel full-editor";
    height: 100%;
    box-sizing: border-box;
    background-color: white;
}
.sideNavPanel {
    grid-area: side-nav-panel;
    height: 100%;
    border-right: solid #cdcfd1;
    padding: 0 10px 10px;
}

.fullEditor {
    grid-area: full-editor;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.editorCommandContainer {
    border: thin #cdcfd1 solid;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
