.commandsContainer {
    display: grid;
    grid-template-columns: 20% 30% auto;
    grid-template-areas: 
    'errorPanel errorPanel errorPanel'
    'leftPanel titlePanel rightPanel';
    grid-gap: 10px;
    padding: 8px;
    background-color: #3883fa;
    color: white;
}

.errorPanel {
    grid-area: errorPanel;
    font-weight: bold;
    padding: 4px 8px;
    background-color: #ff4d4f;
}

.leftPanel {
    grid-area: leftPanel;
    span {
        margin-right: 5px;
    }
    padding: 8px;
}

.titlePanel {
    grid-area: titlePanel;
    display: flex;
    align-items: center;
}

.rightPanel {
    grid-area: rightPanel;
    grid-gap: 10px;
    justify-self: end;
}

.titleText {
    color: white;
    font-size: 1rem;
    padding: 5px;
}