.commandsContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "leftPanel rightPanel";
    grid-gap: 10px;
    padding: 20px;
    border-bottom: solid #cdcfd1;
}

.leftPanel {
    grid-area: leftPanel;
    span {
        margin-right: 5px;
    }
}

.rightPanel {
    grid-area: rightPanel;
    grid-gap: 10px;
    justify-self: end;
    .btn {
        margin-right: 5px;
        width: 200px;
    }
}
