.commandsContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "leftPanel rightPanel";
    grid-gap: 10px;
    padding: 8px;
    background-color: #3883fa;
    color: white;
}

.leftPanel {
    grid-area: leftPanel;
    span {
        margin-right: 5px;
    }
    padding: 8px;
}

.rightPanel {
    grid-area: rightPanel;
    grid-gap: 10px;
    justify-self: end;
    .btn {
        margin-right: 5px;
        width: 120px;
    }
}
