.twinContainer{
    display: grid;
    grid-gap: 10px;
}
.twinItem{
    border: solid black;
    padding: 10px 15px;
}
.button{
    border: solid black;
    padding: 10px 15px;
    border-radius: 45px;
}