.commandItem {
    background-color: #4891db;
    color: white;
    border: solid #4891db;
    font-weight: bold;
    text-align: center;
    padding: 10px 25px;
    border-radius: 45px;
    min-width: 175px;
}
.commandItem:hover {
    background-color: white;
    color: #4891db;
    cursor: pointer;
}
.commandItem:active {
    background-color: #9bc6f1;
    color: blue;
}
