.commandBtn {
  max-width: 250px;
  min-width: 100px;
  // antd customization
  background-color: #3883fa;
  border: unset;
  box-shadow: unset;
}

.commandBtn:disabled,
.commandBtn[disabled]:hover{
  background-color: #74a8fc;
  border: unset;
  box-shadow: unset;
}
