.configurator {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 80px calc(100% - 80px);
    grid-template-areas:
        "leftbar file-commands"
        "leftbar json-view";
    height: 100%;
    box-sizing: border-box;
}
.leftbar {
    grid-area: leftbar;
    padding: 0px 10px;
    height: 100%;
    border-right: solid #cdcfd1;
}
.fileCommands {
    grid-area: file-commands;
}
.jsonView {
    grid-area: json-view;
    padding: 20px 10px 10px 10px;
}
